<div class="container">
<h3>App Info</h3>
  <p>Simple emberjs app consuming JSON data from reddit, while caching results locally for faster loading. Top three preferred channels have been added to navigation menu for easier browsing, although you can still input your favorite channel like so "/r/category".</p>
  <p>This has been nothing but an excuse to pick up emberjs, thanks for visiting. - denisinla</p>
</div>
{{outlet}}